*, html {padding:0; margin:0;}

#root {
    position: relative;
    width: 100%;
}
#board {
    margin-top: 200px;
	width: 36em;
	height: 36em;
    margin-left: auto;
    margin-right: auto;

    box-shadow: inset 1px -4px 6px rgba(145, 161, 181, .3)
}

.boardRow {
    height: 4em;
    width: 36em;
}

.boardCell {
    width: 4em;
    height: 4em;
    display: inline-block;
    line-height: 4em;
    text-align: center;
}

.cellValue {
    font-size: 20px;
}

.boardRow:not(:last-child) {
    border-bottom: 1px solid black;
}
.boardRow:nth-child(3n+3):not(:last-child) {
    border-bottom: 2px solid black !important;
}

.boardCell:nth-child(3n+3):not(:last-child) {
    border-right: 2px solid black;
}

.boardCell:not(:last-child) {
    border-right: 1px solid black;
}
.editable {
    color: rgb(20,20,20);
}
.uneditable {
    font-weight: 700;
}

.selected {
    background-color: rgb(240, 248, 255);
}