*, html {padding:0; margin:0;}

#root {
    position: relative;
    width: 100%;
}
#board {
    padding-top: 200px;
	width: 36em;
	height: 36em;
    margin-left: auto;
    margin-right: auto;
}

.boardRow {
    height: 4em;
    width: 36em;
}

.boardCell {
    width: 4em;
    height: 4em;
    color: black;
    display: inline-block;

    line-height: 4em;
    text-align: center;
}

.boardRow:not(:last-child) {
    border-bottom: 1px solid black;
}
.boardRow:nth-child(3n+3):not(:last-child) {
    border-bottom: 2px solid black !important;
}

.boardCell:nth-child(3n+3):not(:last-child) {
    border-right: 2px solid black;
}

.boardCell:not(:last-child) {
    border-right: 1px solid black;
}

.uneditable {
    font-weight: 700;
}

.selected {
    background-color: rgb(240, 248, 255);
}